{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт с кнопками-ссылками</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="button-group">
            <a href="#sort-question" class="button">Sort Question</a>
            <span>Сортировка</span>
        </div>
        <div class="button-group">
            <a href="#separation" class="button">Separation</a>
            <span>Разделение на части</span>
        </div>
        <div class="button-group">
            <a href="#merge" class="button">Merge</a>
            <span>Слияние</span>
        </div>
        <div class="button-group">
            <a href="#normalization" class="button">Normalization</a>
            <span>Нормализация формулы</span>
        </div>
        <div class="button-group">
            <a href="#reformat-question" class="button">Reformat Question</a>
            <span>Нормализация формата вопроса</span>
        </div>
        <div class="button-group">
            <a href="#empty" class="button">Empty</a>
            <span>Проверка того, является ли вариант или вопрос пустым</span>
        </div>
        <div class="button-group">
            <a href="#find-duplicate" class="button">Find Duplicate</a>
            <span>Удаление дубликатов</span>
        </div>
    </div>
</body>
</html>

