
body {
    font-family: Arial, sans-serif;
    background-color: #101820;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ff8c00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"],
input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #101820;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: #101820;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    background-color: #101820;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#status {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

#download-links {
    margin-top: 20px;
}
